body{
    background-color: #202020;
    color: white;
    .App{
        width: fit-content;
        h3{
            white-space: nowrap;
        }
        table {
            margin: 10px auto;
            background-color: #2a2a2a;
            border-collapse:  collapse;
            tr{
                border: solid 1px white;
            }
            th,td {
                padding: 10px;
                white-space: nowrap;
            }
        }
    }
}